@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    --confluence-blue: #1C77F2;
    --rosa: #db0987;
    --green: #2fb000;
    --grau: #111416;
    --grau-a: #212529;
    --grau-b: #343a40;
    --grau-c: #495057;
    --grau-d: #6c757d;
    --grau-e: #adb5bd;
    --grau-f: #ced4da;
    --grau-g: #dee2e6;
    --grau-h: #e9ecef;
    --grau-i: #f8f9fa;

    height: 100%;
    background-color: var(--grau);
    font-family: "Poppins", sans-serif;
    display: block;
    color: #ffffff;
    font-size: medium;
    font-weight: 100;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px var(--confluence-blue);
    padding: 5px 3px 5px 3px;
}

header a{
    padding: 3px 4px 1px 3px;
    background-color: var(--grau-a);
    border-radius: 10px;
}

header a .chevron{
    color: var(--confluence-blue);
}

header .data{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.heading h1{
    font-size: large;
    font-weight: 400;
}
