@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    --blau-eins: #050023;
    --blau-zwei: #1C77F2;
    height: 100%;
    background-color: var(--blau-eins);
    font-family: "Poppins", sans-serif;
    display: block;
    color: #ffffff;
    font-size: medium;
    font-weight: 100;
}

/* nav  underneath*/
    

.container {
    max-width: 1050px;
    width: 80%;
    margin: auto;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px var(--blau-zwei);
    position: fixed;
    background-color: var(--blau-eins);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
    border-right: solid 1px var(--blau-zwei);
    border-radius: 0px 30px 30px 0px;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
        font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #efefef;
    border: solid 0.5px #ffffff;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    background-color: rgba(5, 0, 35, 0.95);
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.ueberschrift {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    display: flex;
}

#confluence{
    width: 2em;
    object-fit: cover;
    padding-right: 1em;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}
/* nav above */

main{
    padding: 20px;
}

.sections{
    display: block;
}

.sects-allg{
    width: 100%;
    height: 350px;
    background-color: var(--blau-zwei);
    border-radius: 30px;
}

#mapscfg{
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    font-size: small;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: solid 1px #1C77F2;
}

.parts-allg{
    display: block;
    font-size: medium;
    font-weight: 200;
}

.part_one{
    display: block;
}

.part_one ul{
    display: block;
}

.part_one ul li{
    display: flex;
    align-items: center;
}

.part_one ul li img{
    padding-left: 20px;
    width: 28px;
}

.part_two{
    display: block;
}

.part_two ul{
    display: block;
    padding: 5px 0px 5px 0px;
}

.part_two ul li{
    display: flex;
    align-items: center;
}

.part_two ul li img{
    padding-left: 20px;
    width: 28px;
}
