
*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
    display: block;
}

main{
    display: block;
}

.content_one{
    display: flex;
    justify-content: center;
}

#anwari{
    width: 200px;
}

.colored{
    color: #000fff;
}