
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'poppins', sans-serif;
    background-color: #efefef;
  --l1: #948e2d;
  --l2: #116f7d;
}

header{
  display: block;
  padding: 10px 0px 10px 0px;
  background: #121212;
  border-bottom: solid 2px var(--l1);
}

header:hover{
  border: none;
  padding: 40px 0px 30px 0px;
  transition-duration: 0.5s;
}

header:hover #mylogo{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.header-wrap{
  display: flex;
  justify-content: space-around;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

ul li a{
  color: var(--l1);
  margin-right: 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

ul li a:hover{
  border-bottom: solid 1px var(--l1);
  color: var(--l2);
  transition-duration: 0.2s;
  padding: 2px 5px 2px 5px;
}

#mylogo{
  height: 80px;
}

#content-one{
  display: flex;
  padding: 30px;
}

.one-left{
  display: block;
  width: 50%;
}

.h-wrap{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.h-wrap h1:hover{
  color: var(--l1);
  transition-duration: 3.0s;
}

.one-left h1{
  color: var(--l2);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-size: 50px;
  font-weight: 100;
}

.one-right{
  display: block;
  width: 50%;
}

.hlr-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-right img{
  width: 400px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.one-right img:hover{
  border: none;
  border-left: solid 6px var(--l1);
  transform: scale(1.15);
  transition-duration: 0.5s;
  border-radius: 0px;
  box-shadow: none;
}

.gold{
  color: var(--l1);
}

footer{
  background-color: var(--l2);
  display: flex;
  align-items: center;
  padding: 30px;
  color: #ffffff;
}

.fo-left{
  width: 33%;
  display: flex;
  justify-content: center;
}

.fo-left ul{
  display: block;
}

.fo-left ul li{
  margin-bottom: 24px;
  display: flex;
  justify-content: left;
}

.fo-left ul li:hover{
  color: #000000;
  transition-duration: 0.2s;
}

.fo-mid{
  width: 33%;
  display: flex;
  justify-content: center;
}

.fo-mid iframe{
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 1px #efefef;
}

.fo-mid iframe:hover{
  border-radius: 0px;
  transform: scale(1.05);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px #ffffff;
}

.fo-right{
  width: 33%;
  display: flex;
  justify-content: center;
}

.fo-right ul{
  display: block;
}

.fo-right ul li{
  margin-bottom: 24px;
  display: flex;
  justify-content: left;
}

.fo-right ul li:hover{
  color: #000000;
  transition-duration: 0.2s;
}

#dsvgs{
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}