@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    --confluence-blue: #1C77F2;
    --rosa: #db0987;
    --green: #2fb000;
    --yellow: #ffdd00;
    --grau: #111416;
    --grau-a: #212529;
    --grau-b: #343a40;
    --grau-c: #495057;
    --grau-d: #6c757d;
    --grau-e: #adb5bd;
    --grau-f: #ced4da;
    --grau-g: #dee2e6;
    --grau-h: #e9ecef;
    --grau-i: #f8f9fa;
    height: 100%;
    background-color: var(--grau);
    font-family: "Poppins", sans-serif;
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}

header{
    border-bottom: solid 1px var(--confluence-blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

header .left{
    align-items: center;
    background-color: var(--grau-a);
    border-radius: 10px;
    padding: 2px 3px 0px 2px;
}

header .left a svg{
    color: var(--confluence-blue);
}

header .mid{
    align-items: center;
}

header .mid h1{
    font-size: x-large;
    font-weight: 400;
}

header .right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

header .right img{
    --header-content-right-img-width-and-height: 40px;
    width: var(--header-content-right-img-width-and-height);
    height: var(--header-content-right-img-width-and-height);
    object-fit: cover;
}

#preMain{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#startbutton{
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to right, #0d23d0, #00ffc0);
    color: #ffffff;
    border: none;
    box-shadow: 0 0 20px #db0987; 
    border-radius: 10px;
}

#startbutton p{
    font-size: large;
}

#startbutton svg{
    color: #db0987;
    width: 30px;
    height: 30px;
}

main{
    display: none;
    padding: 1px 20px 1px 20px;
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grau-a);
    padding: 10px 0 10px 0;
    margin-bottom: 12px;
    height: 40px;
    border-radius: 10px;
}

main section .left{
    display: flex;
    align-items: center;
    padding-left: 6px;
}

main section .right{
    display: flex;
    justify-content: center;
    text-align: center;
}

main section .right button{
    padding: 5px 5px 2px 5px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: var(--confluence-blue);
    position: absolute;
    align-self: center;
    right: 40px; 
    color: #ffffff;
}

main section .right svg{
    color: #ffffff;
}

#minus-plus-font-btn-wrap{
    padding: 5px 5px 2px 5px;
    margin-left: 8px;
    border-radius: 5px;
    position: absolute;
    align-self: center;
    right: 40px; 
}

.minus-plus-font-btns{
    background-color: var(--confluence-blue);
    color: #ffffff;
    font-size: large;
    border-radius: 10px;
    padding: 7px 7px 4px 7px;
}
