@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --confluence-blue: #1C77F2;
  --rosa: #db0987;
  --green: #2fb000;
  --yellow: #ffdd00;
  --grau: #111416;
  --grau-a: #212529;
  --grau-b: #343a40;
  --grau-c: #495057;
  --grau-d: #6c757d;
  --grau-e: #adb5bd;
  --grau-f: #ced4da;
  --grau-g: #dee2e6;
  --grau-h: #e9ecef;
  --grau-i: #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--grau);
  font-family: "Poppins", sans-serif;
  display: block;
  color: #ffffff;
  font-size: medium;
  font-weight: 100;
}

.section-one {
  background-color: #152744;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: 2rem;
  font-weight: 400;
}

.section-one span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.section-one span button {
  color: var(--grau-i);
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 20px;
  border-radius: 20px;
  background-color: var(--grau);
  font-size: large;
  font-weight: 200;
  cursor: pointer;
}

.section-one span button svg {
  color: var(--confluence-blue);
  padding-left: 5px;
  width: 16px;
  height: 16px;
}

.section-one img {
  width: 100px;
  object-fit: cover;
  border-radius: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(17, 20, 22, .9);
  z-index: 10;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  max-width: 1050px;
  width: 100%;
  margin: auto;
  position: relative;
}

.nav-container li {
  list-style: none;
}

.nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.nav-container a:hover {
  font-weight: bolder;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 26px;
  width: 32px;
  top: 17px;
  right: 30px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 30px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--grau-i);
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu-items {
  background-color: var(--grau);
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 3;
}

.menu-items ul li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

#home-li {
  color: var(--confluence-blue);
  font-size: x-large;
  font-weight: 800;
}

.ueberschrift {
  position: absolute;
  left: 15px;
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

#confluence {
  width: 2.5em;
  /* Increased slightly */
  object-fit: contain;
  padding-right: 1em;
}

#svgtitle {
  height: 30px;
  /* Increased from 22px */
  object-fit: contain;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

main {
  padding: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.main-cards div {
  width: 100%;
  height: 350px;
  border-radius: 30px;
}

.section-zero {
  background: linear-gradient(135deg, #000000 60%, var(--rosa));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-zero span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.section-zero span img {
  border-radius: 20px;
  height: 10rem;
  object-fit: cover;
}

.section-zero span a {
  color: var(--grau-i);
  display: flex;
  align-items: center;
  padding: 4px 16px 4px 20px;
  border-radius: 20px;
  background-color: var(--grau);
  font-size: large;
  font-weight: 200;
}

.section-zero span a svg {
  color: var(--confluence-blue);
  padding-left: 5px;
}

.section-two {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.section-two span img {
  border-radius: 20px;
  height: 10rem;
  object-fit: cover;
}

.section-two span a {
  color: var(--grau-i);
  display: flex;
  align-items: center;
  padding: 4px 16px 4px 20px;
  border-radius: 20px;
  background-color: var(--grau);
  font-size: large;
  font-weight: 200;
}

.section-two span a svg {
  color: var(--confluence-blue);
  padding-left: 5px;
}

.section-three {
  background: linear-gradient(#f1ff06, #3fec06d4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-three div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-three div img {
  width: 100px;
  object-fit: cover;
}

.section-three div a {
  border-radius: 20px;
  background-color: var(--grau);
  padding: 6px 13px 6px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-three div a p {
  font-size: large;
  font-weight: 200;
  color: #ffffff;
}

.section-three div a svg {
  color: var(--confluence-blue);
  padding-left: 5px;
}

.section-four {
  background: linear-gradient(#ff0505, #32bdffd4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-four div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-four div h1 {
  color: #000000;
  font-size: 100px;
}

.section-four div a {
  border-radius: 20px;
  background-color: var(--grau);
  padding: 6px 13px 6px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-four div a p {
  font-size: large;
  font-weight: 200;
  color: #ffffff;
}

.section-four div a svg {
  color: var(--confluence-blue);
  padding-left: 5px;
}

footer {
  display: block;
  color: var(--grau-i);
  font-size: small;
  font-weight: 100;
  border-top: solid 1px var(--grau);
}

.flog {
  margin: 0 15px 0 15px;
  background: linear-gradient(var(--confluence-blue), #701aa9);
  border-radius: 20px;
  padding: 24px 0px 24px 0px;
  display: block;
}

.flog-content {
  display: flex;
  justify-content: space-evenly;
}

.flog-content a {
  border-radius: 20px;
  padding: 10px;
  margin: 0px 12px 0px 12px;
  color: #ffffff;
  font-size: small;
  box-shadow: 2px 2px 4px var(--grau);
  background-color: var(--grau-i);
}

.flog-content a div {
  display: block;
}

.flog-content a div h5 {
  display: flex;
  justify-content: center;
  color: var(--grau);
}

.flog-content a div h2 {
  display: flex;
  justify-content: center;
  color: var(--grau);
}

.flog_two {
  display: block;
  font-size: x-large;
  font-weight: 100;
  padding: 15px 20px 15px 20px;
  background-color: var(--grau);
}

.flog_two ul {
  display: block;
}

.flog_two ul li {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.flog_two ul li svg {
  padding-right: 20px;
  width: 20px;
  height: 20px;
  color: var(--yellow);
}

.flog_three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grau);
  padding: 10px 0 10px 0;
}

.flog_three div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 15px 20px;
  background-color: var(--grau-a);
  border-radius: 40px;
  display: flex;
}

.flog_three div img {
  height: 40px;
  object-fit: cover;
  padding: 0 5px 0 5px;
}